%h1.page-header Feeds

= render 'tags'

%table.table.table-hover
  %tr
    %th
    %th= Feed.human_attribute_name :title
    %th Latest
    %th= Feed.human_attribute_name :tags
    %th Apply
    %th Delete
    %th
  - @feeds.each do |feed|
    %tr{ class: "_#{feed.id}" }
      = form_for feed, remote: true, class: %w[form form-inline] do |f|
        %td
          = link_to '■', f.object
        %td.title
          = f.text_field :title, size: 50, class: 'form-control'
        %td.latest
          = link_to truncate(feed.latest_item.try(:title), length: 30), feed, target: '_blank'
        %td.tag
          = f.text_field :tag_list, class: 'form-control', value: feed.tags_string
        %td
          = f.button class: %w[btn btn-primary btn-sm] do
            %span.glyphicon.glyphicon-ok
        %td
          = link_to feed_path(feed), method: :delete, class: %w[btn btn-sm btn-danger], data: { confirm: 'delete?' } do
            &cross;
        %td.response

= paginate @feeds
