%h1.page-header Feeds

%table
  %tr
    %th= Feed.human_attribute_name :title
    %th Latest
    - current_user.tags.each do |tag|
      %th= tag.name
    %th
    %th
  - tags = current_user.tags
  - @feeds.each do |feed|
    %tr{ class: "_#{feed.id}" }
      = form_for feed, remote: true do |f|
        %td.title
          = f.text_field :title, size: 50
        %td.latest
          = truncate(feed.items.first.try(:title), length: 30)
        - tags.each do |tag|
          %td.tag
            = f.fields_for :taggings, feed.taggings.find{|t| t.tag_id == tag.id} || Tagging.new(tag_id: tag.id) do |ff|
              = ff.check_box :tag_id, { checked: (ff.object.persisted?) }, tag.id, ''
        %td
          = f.submit
          = link_to '■', f.object
        %td.response

= paginate @feeds
