= form_for @feed do |f|
  .title
    = f.text_field :title, size: 40
  = f.hidden_field :url
  .link_url
    = f.hidden_field :link_url
    = link_to f.object.link_url, f.object.link_url, target: '_blank'
  .description
    = f.hidden_field :description
    = simple_format f.object.description
  .tags
    .text
      Tags:
    - current_user.tags.each do |tag|
      %span.tag
        = f.fields_for :taggings, Tagging.new(tag_id: tag.id) do |ff|
          = ff.check_box :tag_id, { checked: true }, tag.id, ''
          = ff.label :tag_id, ff.object.tag.name

  = f.submit
