%h1.page-header= link_to @subscription.user_title, @subscription.feed.link_url

%p= @subscription.feed.description
%small
  = link_to @subscription.feed.url, @subscription.feed.url, target: '_blank'

%p= render @items, hide_feed: true

= paginate @items
