%ul.nav.nav-pills
  - current_user.tags.each do |tag|
    %li{ class: ('active' if tag.id.to_s == params[:tag_id]) }
      = link_to tag.name, params.merge(tag_id: tag.id)

= paginate @items
- @items.each do |item|
  %hr
  .rss
    = link_to item.feed.title, item.feed.link_url
    = link_to '■', item.feed
  .item
    .title
      = link_to item.title, item.link, target: '_blank'
    .body
      = simple_format item.description
= paginate @items
