%h1= current_user.email
= link_to 'Import OPML', upload_feeds_path
= link_to 'Feeds', feeds_path
= link_to 'Sign out', destroy_user_session_path, method: :delete

.tags
  - current_user.tags.each do |tag|
    = link_to tag.name, params.merge(tag_id: tag.id)


%h2 Items
= paginate @items
- @items.each do |item|
  %hr
  .rss
    = link_to item.feed.title, item.feed.link_url
  .item
    .title
      = link_to item.title, item.link, target: '_blank'
    .body
      = simple_format item.description
= paginate @items
