!!!
%html{ lang: 'ja' }
  %head
    %title RuSS
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %body
    %script#tag-buttons{ type: 'text/x-template' }
      %span{ v: { component: 'tag-button', repeat: 'tags' } }

    %script#tag-button{ type: 'text/x-template' }
      .btn-group.btn-group-sm.tag-button
        %a.btn{ v: { on: 'click: select', class: 'btn-info: isActive, active: isActive, btn-default: !isActive' } }
          %span.glyphicon.glyphicon-tag
          {{name}} ({{count}})
        %a.btn.btn-default{ v: { on: 'click: toggle' } }
          %span.glyphicon{ v: { class: 'glyphicon-minus: isActive, glyphicon-plus: !isActive' } }

    = render 'root/components'
    = render 'feeds/components'
    = render 'subscriptions/components'

    = yield :components

    .container#main-content{ class: ('vue-app' if yield(:vue_app).present?) }
      - { notice: :success, alert: :danger }.each do |flash_name, alert_type|
        - flash[flash_name].presence.try do |message|
          .alert.alert-dismissable{ class: "alert-#{alert_type}" }
            %button.close{ 'data-dismiss' => :alert, 'aria-hidden' => :true } &times;
            = message

      - if user_signed_in?
        %nav.navbar.navbar-default{ role: :navigation }
          .navbar-header
            %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-ex1-collapse' } }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a{ v: { attr: 'href: rootPath' }, class: 'navbar-brand' }
              RuSS
          .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
              %li
                %a{ v: { attr: 'href: feedsPath' } }
                  Feeds
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'RuSS (Bookmarklet)', "javascript:location.href='#{new_subscription_url(url: '')}'+escape(location.href);"
                  %li= link_to 'Import OPML', upload_subscriptions_path
                  %li= link_to 'Sign out', destroy_user_session_path, method: :delete

      %div
        %div{ v: { component: '{{currentPage}}', ref: 'currentComponent' } }
        = yield
    = javascript_include_tag 'application'
