!!!
%html{ lang: 'ja' }
  %head
    %title RuSS
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %body
    .container
      - { notice: :success, alert: :danger }.each do |flash_name, alert_type|
        - flash[flash_name].presence.try do |message|
          .alert.alert-dismissable{ class: "alert-#{alert_type}" }
            %button.close{ 'data-dismiss' => :alert, 'aria-hidden' => :true } &times;
            = message
      - if user_signed_in?
        %nav.navbar.navbar-default{ role: :navigation }
          .navbar-header
            %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-ex1-collapse' } }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'RuSS', root_path, class: 'navbar-brand'
          .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
              %li= link_to 'Feeds', subscriptions_path
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'RuSS (Bookmarklet)', "javascript:location.href='#{new_subscription_url(url: '')}'+escape(location.href);"
                  %li= link_to 'Import OPML', upload_subscriptions_path
                  %li= link_to 'Sign out', destroy_user_session_path, method: :delete
      %div#main-content{ class: %W(#{controller_name}-controller #{action_name}-action) }
        = yield
    = javascript_include_tag 'application'
